{% extends "base.html" %}

{% block content %}
<div style="width: 350px; height: 400px; margin: auto;">
    <br>
    <br>
    <form action="" method="POST">
        <center>
            <h3 style="color: lightslategray; font-weight: bolder; font-style: italic; font-family: serif;">Add new product</h3>
            <br>
            <br>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="save">
        </center>
    </form>
</div>
{% endblock content %}
